# Step 1

In [26]:
import pandas as pd

# Load the datasets
transaction=pd.read_excel("TRANSACTION_DETAIL.xlsx") ##new transaction records without dummies
past_transaction=pd.read_excel("FV_dummy_unit_updated.xlsx") #old transaction records with dummies

In [2]:
past_transaction['FV_dummy'].value_counts()

FV_dummy
0     33414
1      6883
6      1524
5       359
10      217
3       207
9       193
12      165
2       110
13       77
11       37
7        28
8        25
4         3
Name: count, dtype: int64

get unique product description from FV_dummy 1 to 13 (FV_dummy 1 from fvs_list)

In [4]:
import pandas as pd

with pd.ExcelWriter("unique_products_all.xlsx", engine="xlsxwriter") as writer:
    for i in range(0, 14):  # FV_dummy values 2 through 13
        # Filter rows where FV_dummy == i
        filtered_df = past_transaction[past_transaction['FV_dummy'] == i]

        # Select the relevant columns and drop duplicates
        unique_products_i = filtered_df[['PRODUCT_DESCRIPTION', 'DEPARTMENT_NAME',
                                         'CATEGORY_NAME', 'SECTION_NAME', 'SIZE',
                                         'FV_dummy']].drop_duplicates()

        # Save each result to a separate sheet
        unique_products_i.to_excel(writer, sheet_name=f"unique_products_{i}", index=False)

In [36]:
import pandas as pd

# Load all sheets into a dictionary of DataFrames
sheets_dict = pd.read_excel("unique_products_all.xlsx", sheet_name=None)


# If you want to loop through them:
for sheet_name, df in sheets_dict.items():
    print(f"Sheet: {sheet_name}, Shape: {df.shape}")

Sheet: unique_products_0, Shape: (10248, 6)
Sheet: unique_products_1, Shape: (938, 6)
Sheet: unique_products_2, Shape: (42, 6)
Sheet: unique_products_3, Shape: (83, 6)
Sheet: unique_products_4, Shape: (3, 6)
Sheet: unique_products_5, Shape: (89, 6)
Sheet: unique_products_6, Shape: (431, 6)
Sheet: unique_products_7, Shape: (7, 6)
Sheet: unique_products_8, Shape: (17, 6)
Sheet: unique_products_9, Shape: (87, 6)
Sheet: unique_products_10, Shape: (47, 6)
Sheet: unique_products_11, Shape: (22, 6)
Sheet: unique_products_12, Shape: (63, 6)
Sheet: unique_products_13, Shape: (38, 6)

In [6]:
transaction.columns

Index(['PID', 'FULL_DATE', 'TRANSACTION_HEADER_KEY', 'STORE_NUMBER', 'AREA',
       'DEPARTMENT_NAME', 'CATEGORY_NAME', 'SECTION_NAME', 'SUB_SECTION_NAME',
       'PRIMARY_UPC', 'PRODUCT_DESCRIPTION', 'SIZE', 'UNIT_OF_MEASURE',
       'SALES', 'UNITS_WEIGHT', 'UNITS_PACKAGES', 'AD_TYPE_DESCRIPTION',
       'AVG_PRICE_PER_MEASURE', 'AVG_PRICE_PER_PACK', 'HUMAN_CONSUMABLE_CODE',
       'DIETITIAN_PICK', 'WIC_FLAG', 'FOOD_STAMP_FLAG'],
      dtype='object')

In [ ]:
# Start with FV_dummy as missing
transaction['FV_dummy_1'] = 0 

# Loop through unique_products_2 ... unique_products_13
for i in range(1, 14):
    sheet_name = str(i)   # sheet names are strings: "1", "2", ..., "13"
    
    if sheet_name in sheets_dict:   # check if the sheet exists
        product_list = sheets_dict[sheet_name].iloc[:, 0].dropna().values  # first column
        
        # Assign FV_dummy = i if the product matches
        transaction.loc[
            transaction['PRODUCT_DESCRIPTION'].isin(product_list),
            'FV_dummy_1'
        ] = i

In [7]:
# Create FV_dummy column: 1 if PRODUCT_DESCRIPTION in fv_list, else 0
import pandas as pd

# Start with FV_dummy as missing
transaction['FV_dummy'] = 0 

# Loop through unique_products_2 ... unique_products_13
for i in range(1, 14):
    product_list = unique_products[i]['PRODUCT_DESCRIPTION'].values
    
    # Assign FV_dummy = i if the product matches
    transaction.loc[transaction['PRODUCT_DESCRIPTION'].isin(product_list), 'FV_dummy'] = i

In [9]:
transaction.to_excel("TRANSACTION_DETAIL_8_8_dummy.xlsx", index=False)

find undefined products

In [10]:
filtered_df = transaction[transaction['FV_dummy'] == 0]

    # Select the relevant columns and drop duplicates
unique_products0_new = filtered_df[['PRODUCT_DESCRIPTION', 'DEPARTMENT_NAME', 
                                     'CATEGORY_NAME', 'SECTION_NAME', 
                                     'FV_dummy']].drop_duplicates()

In [11]:
unique_products0 = pd.read_excel("unique_products_0.xlsx")

In [12]:
unique_products0.shape

(10248, 7)

In [13]:
unique_products0_new.shape

(12095, 5)

In [14]:
unique_products0_new['defined'] = 0
product_list = unique_products0['PRODUCT_DESCRIPTION'].values
unique_products0_new.loc[unique_products0_new['PRODUCT_DESCRIPTION'].isin(product_list), 'defined'] = 1

In [15]:
unique_products0_new['defined'].value_counts()

defined
1    9653
0    2442
Name: count, dtype: int64

In [16]:
undefined = unique_products0_new[unique_products0_new['defined'] == 0]
undefined.to_excel("undefined.xlsx")

In [17]:
unique_products0_new.to_excel("dummy0_case.xlsx")

summary

In [18]:
for i in range(0, 14):  # FV_dummy values 2 through 13
    # Filter rows where FV_dummy == i
    filtered_df = transaction[transaction['FV_dummy'] == i]

    # Select the relevant columns and drop duplicates
    unique_products_i = filtered_df[['PRODUCT_DESCRIPTION', 'DEPARTMENT_NAME', 
                                     'CATEGORY_NAME', 'SECTION_NAME', 
                                     'FV_dummy']].drop_duplicates()
    filename = f"unique_products_{i}"
    print(unique_products_i.shape)

(12095, 5)
(870, 5)
(42, 5)
(84, 5)
(3, 5)
(86, 5)
(499, 5)
(7, 5)
(16, 5)
(84, 5)
(47, 5)
(22, 5)
(63, 5)
(37, 5)

check difference

3

In [19]:
unique_products3 = pd.read_excel("unique_products_3.xlsx")
unique_products3=unique_products3.drop(columns='FV_dummy_2')

In [20]:
filtered_df = transaction[transaction['FV_dummy'] == 3]

    # Select the relevant columns and drop duplicates
unique_products3_new = filtered_df[['PRODUCT_DESCRIPTION', 'DEPARTMENT_NAME', 
                                     'CATEGORY_NAME', 'SECTION_NAME', 'SIZE',
                                     'FV_dummy']].drop_duplicates()

In [21]:
unique_products3.head()

,PRODUCT_DESCRIPTION,DEPARTMENT_NAME,CATEGORY_NAME,SECTION_NAME,SIZE,FV_dummy
0,Mt Olive - Kosher Dills (46 Oz),GROCERY,GLASS,PICKLES / PEPPERS,46.00,3
1,Schnucks - Kosher Sandwich Slices Pickles (16 Oz),GROCERY,GLASS,PICKLES / PEPPERS,16.00,3
2,Mt Olive - Mild Okra (16 Oz),GROCERY,GLASS,PICKLES / PEPPERS,16.00,3
3,Mt Olive - Dill Pickles (46 Oz),GROCERY,GLASS,PICKLES / PEPPERS,46.00,3
4,Schnucks - Ripe Sliced Olives (2.25 Oz),GROCERY,GLASS,OLIVES / CAPERS,2.25,3

In [22]:
# Add a source column to each DataFrame
unique_products3['source'] = 'old'
unique_products3_new['source'] = 'new'

# Concatenate and keep only different rows
diff_rows = pd.concat([unique_products3, unique_products3_new]).drop_duplicates(subset=unique_products3.columns[:-1], keep=False)

diff_rows
diff_rows.to_excel("unique_products3_diff.xlsx", index=False)

6

In [23]:
unique_products6 = pd.read_excel("unique_products_6.xlsx")
unique_products6=unique_products6.drop(columns='FV_dummy_2')
filtered_df = transaction[transaction['FV_dummy'] == 6]

    # Select the relevant columns and drop duplicates
unique_products6_new = filtered_df[['PRODUCT_DESCRIPTION', 'DEPARTMENT_NAME', 
                                     'CATEGORY_NAME', 'SECTION_NAME', 'SIZE',
                                     'FV_dummy']].drop_duplicates()

In [24]:
# Add a source column to each DataFrame
unique_products6['source'] = 'old'
unique_products6_new['source'] = 'new'

# Concatenate and keep only different rows
diff_rows = pd.concat([unique_products6, unique_products6_new]).drop_duplicates(subset=unique_products6.columns[:-1], keep=False)

diff_rows=diff_rows.drop_duplicates()
diff_rows.to_excel("unique_products6_diff.xlsx", index=False)

# Step 3: Generate a list of new products of dummies mapped

In [1]:
transaction=pd.read_excel("TRANSACTION_DETAIL.xlsx") # import new new transaction records without dummies

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

# Load all sheets into a dictionary of DataFrames
sheets_dict = pd.read_excel("products of dummies.xlsx", sheet_name=None) # import file of product lists of dummies


# If you want to loop through them:
for sheet_name, df in sheets_dict.items():
    print(f"Sheet: {sheet_name}, Shape: {df.shape}")

Sheet: 2_9, Shape: (33, 1)
Sheet: 2_8, Shape: (21, 1)
Sheet: 2_7, Shape: (67, 1)
Sheet: 2_6, Shape: (241, 1)
Sheet: 2_5, Shape: (26, 1)
Sheet: 2_4, Shape: (5, 1)
Sheet: 2_3, Shape: (142, 1)
Sheet: 2_2, Shape: (133, 1)
Sheet: 2_1, Shape: (418, 1)
Sheet: 13, Shape: (43, 1)
Sheet: 12, Shape: (71, 1)
Sheet: 11, Shape: (33, 1)
Sheet: 10, Shape: (47, 1)
Sheet: 9, Shape: (96, 1)
Sheet: 8, Shape: (19, 1)
Sheet: 7, Shape: (7, 1)
Sheet: 6, Shape: (533, 1)
Sheet: 5, Shape: (102, 1)
Sheet: 4, Shape: (3, 1)
Sheet: 3, Shape: (94, 1)
Sheet: 2, Shape: (51, 1)
Sheet: 1, Shape: (1088, 1)

In [28]:
# Start with FV_dummy_1 as 0
transaction['FV_dummy_1'] = 0 

# Loop through unique_products_2 ... unique_products_13
for i in range(1, 14):
    sheet_name = str(i)   # sheet names are strings: "1", "2", ..., "13"
    
    if sheet_name in sheets_dict:   # check if the sheet exists
        product_list = sheets_dict[sheet_name].iloc[:, 0].dropna().values  # first column
        
        # Assign FV_dummy = i if the product matches
        transaction.loc[
            transaction['PRODUCT_DESCRIPTION'].isin(product_list),
            'FV_dummy_1'
        ] = i

In [33]:
# Start with FV_dummy_2 as 0
transaction['FV_dummy_2'] = 0

# Loop through sub-sheets "2_1" ... "2_9"
for i in range(1, 10):
    sheet_name = f"2_{i}"   # sheet names are strings like "2_1", "2_2", ...
    
    if sheet_name in sheets_dict:   # check if the sheet exists
        product_list = sheets_dict[sheet_name].iloc[:, 0].dropna().values  # first column
        
        # Always assign FV_dummy_2 = 2 (not i)
        transaction.loc[
            transaction['PRODUCT_DESCRIPTION'].isin(product_list),
            'FV_dummy_2'
        ] = i

In [31]:
transaction['FV_dummy_1'].value_counts()

FV_dummy_1
0     41792
1      8676
6      1965
5       318
10      269
3       242
12      221
9       218
2       134
13      102
11       59
8        35
7        28
4         3
Name: count, dtype: int64

In [34]:
transaction['FV_dummy_2'].value_counts()

FV_dummy_2
0    45417
1     4041
6     3485
3      462
2      313
7      149
5       60
8       58
9       56
4       21
Name: count, dtype: int64

In [35]:
transaction.to_excel("transaction_mapped.xlsx", index=False)